---
page_title: "easydns_service Data Source - EasyDNS"
description: |-
  Reads an EasyDNS service description.
---


# easydns_service (Data Source)

{{tffile "examples/data-sources/service/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
