---
page_title: "easydns_subscription_service Data Source - EasyDNS"
description: |-
  Reads the service attached to an EasyDNS subscription block.
---


# easydns_subscription_service (Data Source)

{{tffile "examples/data-sources/subscription_service/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
