---
page_title: "easydns_zone Data Source - EasyDNS"
description: |-
  Fetches information about a DNS zone in EasyDNS.
---


# easydns_zone (Data Source)

Use this data source to retrieve information about an existing DNS zone in EasyDNS.

## Example Usage

{{tffile "examples/data-sources/zone/example_1.tf"}}

{{ .SchemaMarkdown | trimspace }}
